<div>
    <div class= "header  d-flex d-lg-flex justify-content-center "> 
        <% if user_signed_in? %>
           <div class= "px-3 header-font"> <%= link_to 'Home', root_path %> </div>
           <div class= "px-3 header-font"> <%= link_to 'All Users', users_path %> </div>
           <div class= "px-3 header-font"> <%= link_to 'All Groups', groups_path %> </div>
           <div class= "px-3 header-font"> <%= link_to 'New Cost', new_cost_path %> </div>
           <div class= "px-3 header-font"> <%= link_to 'Grouped Costs', costs_path %> </div>
           <div class= "px-3 header-font"> <%= link_to 'Ungrouped Costs', '#' %> </div>
           <div class= "px-3 header-font"> <%= link_to 'Logout', '#' %> </div>
        <%else %>
           <div class= "px-3 header-font"> <%= link_to 'Log In', '#' %> </div>
        <%end%>
    </div>
</div>